.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures that the app takes up at least the full height of the viewport */
}

.App-header {
  background-color: #5c0404;
  padding: 10px;
  color: white;
  text-align: center;
  
}

.App-main {
  flex: 1; /* Makes the main section take up remaining space */
  padding: 20px;
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  text-align: center;
  color: white;
}
